<!-- Footer -->
<footer>
    <div class="content-width">
        <div class="inner_container clearfix">
            <div class="get_in_touch">
                <h4>
                    Get in touch
                </h4>
                <p>
                    Any questions? Let us know by calling or texting <strong>{{ contactSocietyMobile }}</strong>, email<strong> <a href="mailto:{{ contactSocietyEmail }}">{{ contactSocietyEmail }}</a></strong> or by using the form on the <strong>Contact page</strong>.
                </p>
                <!--social media - icons from fontawesome-->
                <div class="social">
                    <a href="https://www.facebook.com/CactusandSucculentSocietyofIreland" class="color_pink fa fa-facebook fa-2x" target="_blank"></a>
                    <a href="#" class="color_pink fa fa-instagram fa-2x" target="_blank"></a>
                    <a href="https://twitter.com/CactusSocietyIE" class="color_pink fa fa-twitter fa-2x" target="_blank"></a>
                    <a href="https://www.pinterest.co.uk/irishcactusandsucculentsociety" class="topbar-social-item fa fa-pinterest-p fa-2x" target="_blank"></a>
                </div>

            </div>
            <div class="get_in_touch2">
                <h4>
                    Address
                </h4>
                <p>
                    {{{ contactSocietyAddressHtmlFormat }}}
                </p>
            </div>

        </div>
    </div>

    <a class="login_btn" href="/user/login"></a>

    <div class="vertical">

        <span></span><p> &copy; {{ societyFullName }}</p>
    </div>
    <!-- Back to top button :) -->
    <div class="btn-back-to-top" id="myBtn">
        <span class="symbol-btn-back-to-top">
            <i class="fa fa-angle-double-up" aria-hidden="true"></i>
        </span>
    </div>

</footer>



