	<!-- Header -->
<header class="header1">
    <div class="container-menu-header">
        <div class="topbar">
            <div class="topbar-social">
                {{#when (contactFacebookHandle) 'noteq' ""}}
                <a href="https://www.facebook.com/{{ contactFacebookHandle }}" class="topbar-social-item fa fa-facebook" target="_blank"></a>
                {{/when}}
                {{#when (contactInstagramHandle) 'noteq' ""}}
                <a href="https://instagram.com/{{ contactInstagramHandle }}" class="topbar-social-item fa fa-instagram" target="_blank"></a>
                {{/when}}
                {{#when (contactTwitterHandle) 'noteq' ""}}
                <a href="https://twitter.com/{{ contactTwitterHandle }}" class="topbar-social-item fa fa-twitter" target="_blank"></a>
                {{/when}}
                {{#when (contactPinterestHandle) 'noteq' ""}}
                <a href="https://www.pinterest.ie/{{ contactPinterestHandle }}" class="topbar-social-item fa fa-pinterest-p" target="_blank"></a>
                {{/when}}
            </div>
        </div>

        <div class="wrap_header">
            <!-- logo -->
            <a href="/" class="logo">
                {{ societyAbbreviation }}
            </a>
            <!-- nav -->
            <div class="wrap_menu">
                <div id="container">
                    <nav class="menu">
                        <ul class="main_menu">
                            <li>
                                <a href="/">Home</a>
                            </li>
                            <li>
                                <a href="/blog">News</a>
                            </li>
                            <li>
                                <a href="/about">About</a>
                            </li>
                            <li>
                                <a href="/contact">Contact</a>
                            </li>
                        </ul>
                    </nav>
                    <div class="mobile">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Header -->
<script type="text/javascript" src="/javascripts/jquery.js"></script>
<script type="text/javascript" src="/javascripts/mobile.js"></script>







