<section class="clearfix index">
    <div id="index_banner">
    </div>
    <h2 class="index_header">
        Welcome to the Irish Cactus and Succulent Society Website
    </h2>
</section>
<!-- Calendar -->
<section class="newproducts clearfix">
    <div class="container">
        <p class="center">
            <strong>Regular meetings</strong> take place on the second Thursday of <strong>each month of 2020 at 7.30pm</strong>  in the National Botanic Gardens, Glasnevin.
        </p>
        <p class="center">
            There are no meetings in January or December.
        </p>
        <!-- Slide2 -->
        <div class="wrap-slick2">
            <div class="slick2">
                {{#each calendar}}
                    {{#when this.published 'eq' true}}
                <div class="item-slick2">

                    <!-- Block2 -->
                    <div class="calendar_date">
                        {{#with (lookup ../timeInfo @index)}}
                        <div class="top-bar">
                            <h3>{{this.dayText}} of {{this.monthText}}</h3>
                        </div>
                        <p class="hour_minute">
                            {{this.hour}}:{{this.minute}}
                            {{#when this.hour 'gte' 12}}PM{{/when}}
                            {{#when this.hour 'lte' 12}}AM{{/when}}
                        </p>
                        {{/with}}
                        <div class="meetdescription">
                            <p class="title">
                                {{ this.title }}
                            </p>
                            <p class="description">
                            {{ this.description }}
                                </p>
                        </div>
                    </div>
                </div>
                    {{/when}}
                {{/each}}
            </div>
        </div>
    </div>
</section>

<!-- potting party -->
<section id="" class="potting clearfix">
        <div class="potting_small onleft">
            <div class="text">
                <h3>
                    Become a MEMBER!*:)
                </h3>

            </div>
        </div>

        <div class="potting_small onright">
            <div class="text">
                <p>
                    <strong>
                        Benefits of membership
                    </strong>
                </p>
                <ul>
                    <li><span class="">&centerdot;</span> Illustrated talks on various methods of culture</li>
                    <li><span class="">&centerdot;</span> Extensive seed list  </li>
                    <li><span class="">&centerdot;</span> Society Library from which members may borrow books on all aspects of cacti and succulents </li>
                    <li><span class="">&centerdot;</span> Members plants sales or exchanges</li>
                    <li><span class="">&centerdot;</span> Advice on plant cultivation</li>
                    <li><span class="">&centerdot;</span> Four full colour magazines a year</li>
                    <li><span class="">&centerdot;</span> The Biannual Cactus & Succulent Society Branch Show.</li>
                    <li><span class="">&centerdot;</span> Lectures on various trips made to see these plants in their native habitat  </li>
                    <li><span class="">&centerdot;</span> Plants you wish to have identified  </li>
                    <li><span class="">&centerdot;</span> Exhibitions  </li>
                </ul>
            </div>
        </div>
</section>

<section class="stories clearfix">
    <div class="container">
        <h3 class="center">
            Latest News
        </h3>
        <!-- blog post -->

            {{#each blogs}}

            {{#each this}}
            <div class="size">
                    <div class="relative block image_zoom">
                        <img src="{{this.imagePath}}" alt="IMG-BLOG">
                    </div>
                    <h4>
                        {{this.title}}
                    </h4>
                    <div class="span_details">
                        <span>
                            {{this.author}}
                            <span class="span_line">|</span>
                        </span>
                        <span>
                            Cactus
                        </span>
                    </div>

                </div>
                {{/each}}
            {{/each}}
        </div>
</section>




