<div class="pagebackground clearfix">
    <div class="container">
        <section class="background_pages banner_about">
            <div class="blog_header">
                <h2>
                    Detailed Product
                </h2>
                <p class="moto"> {{title}}</p>
            </div>
        </section>
        <section class="section_product section_contact">
            <div class="products">
                <div class="relative block image_zoom">
                    <img src="{{product.imagePath}}" alt="IMG-BLOG">
                </div>

                <h4>
                    {{product.name}}
                </h4>
                <div class="span_details">
                    <span>
                        Price: &euro;
                        {{product.price}}
                    </span>
                </div>
                <p>
                    {{product.description}}
                </p>
                <a href="/shop/add-to-cart/{{product.id}}" class=" button link2 details" role="button">Add to Cart</a>

            </div>
        </section>
    </div>
    </div>
